

main button {
  position: fixed;
  width: 50px;
  height: 100px;
  background-color: #000;
  margin-left: 90%;
  border: none;
  cursor: pointer;
}
main button a {
  color: white;
}


@media screen and (min-width: 800px) { 

    #layout-forside {
        display: grid;
        grid-template-areas:  "header header nav"
                              "main main main"
                              "footer footer footer";
       grid-template-columns: repeat(3, 1fr); 
      }
      nav {
        grid-area: nav;
        margin: auto;
      }

      header {
        grid-area: header;
      }

      a {
        text-decoration: none;
        color: #000; /*Svart overskrift farge*/
      }
   
      nav ul {
        display: flex;
        list-style-type: none; /* Remove default list styling */
        margin-top: 12%;
        padding: 0;
      /*  overflow: hidden;  Clear floats and prevent container from collapsing */
      }

      nav ul li a {
        padding: 14px;
        font-size: 1.1em;
      }
      
      .header-contact-knapp {
        background-color: #e6bd43;
      }

      .header-contact-knapp:hover {
        color: #e6bd43;
        background-color: #000;
      }

      main {
        grid-area: main;
      }

      main article h1 {
        font-size: 3em;
      }

      #headline {
        padding: 2%;
        background-color: #d9d9d9;
        text-align: center;
      }
      #headline nav {
        margin-top: 4%;
      }
      #headline nav a {
        background-color: #e6bd43;
        padding: 1%;
        font-weight: bold;
      }
      #headline nav a:hover {
        background-color: #000;
        color: #e6bd43;
        padding: 1%;
      }
      
      .center-text {
        text-align: center;
      }

      main article h2 {
        font-size: 2em;
      }

      main section {
        border: 1px solid #000;
        display: flex;
      }

      main section article {
        margin-top: 2%;
      }

      main section article h3 {
        font-size: 2em;
      }

      main section article nav {
        margin-top: 5%;
      }

      main section article nav a {
        border: 3px solid #000;
        font-weight: bold;
        font-size: 1em;
        padding: 1rem;
      }
      main h4 {
        font-size: 2em;
        font-weight: bold;
        text-align: center;
      }

      #branding {
        display: flex;
        gap: 21%;
        margin-left: 14%;
      }

      #branding h5 {
        font-size: 1.3rem;
      }

      #links {

      }

      #links ul {
        margin-top: 0;
        margin-right: 0px;
      }

      main fieldset {
        background-color: #F4F1F1;
      }

      footer {
        grid-area: footer;
        display: flex;
        gap: 23%;
        background-color: #252525;
      }
      
      footer h5 {
        color: white;
        font-size: 1.4em;
      }

      footer nav ul li {
        color: white;
      }
}