

main button {
  position: fixed;
  width: 50px;
  height: 100px;
  background-color: #000;
  margin-left: 90%;
  border: none;
  cursor: pointer;
}
main button a {
  color: white;
}


@media screen and (min-width: 800px) { 

    .layout {
        display: grid;
        grid-template-areas:  "header header nav"
                              "main main main"
                              "footer footer footer";
       grid-template-columns: repeat(3, 1fr); 
      }
      nav {
        grid-area: nav;
        margin: auto;
      }

      header {
        grid-area: header;
      }

      a {
        text-decoration: none;
        color: #000; /*Svart overskrift farge*/
      }
   
      .header-nav ul, footer nav ul {
        display: flex;
        list-style-type: none; /* Remove default list styling */
        margin-top: 12%;
        padding: 0;
      /*  overflow: hidden;  Clear floats and prevent container from collapsing */
      }

      .header-nav ul li a {
        padding: 14px;
        font-size: 1.1em;
      }
      
      .header-contact-knapp {
        background-color: #e6bd43;
      }

      .header-contact-knapp:hover {
        color: #e6bd43;
        background-color: #000;
      }

      main {
        grid-area: main;
      }

      main article h1 {
        font-size: 3em;
      }

      #headline {
        padding: 40px;
        background-color: #d9d9d9;
        text-align: center;
      }
      #headline a {
        background-color: #e6bd43;
        margin-top: 4%;
        padding: 1%;
        font-weight: bold;
      }
      #headline a:hover {
        background-color: #000;
        color: #e6bd43;
        padding: 1%;
      }
      
      .center-text, #contact-form h2, #portfolio-overskrift h1 {
        text-align: center;
      }

      main article h2, #om-oss article h3 {
        font-size: 2em;
      }

      #om-oss {
        border: 1px solid #000;
        display: flex;
      }

      #om-oss article {
        margin-top: 2%;
      }

      #om-oss article a {
        margin-top: 5%;
        border: 3px solid #000;
        font-weight: bold;
        font-size: 1em;
        padding: 1rem;
      }
      main h4 {
        font-size: 2em;
        font-weight: bold;
        text-align: center;
      }

      #branding-forside {
        display: flex;
        gap: 21%;
        margin-left: 14%;
      }

      #branding-forside h5 {
        font-size: 1.3rem;
      }

      #links ul {
        margin-top: 0;
        margin-right: 0px;
      }

      main fieldset {
        background-color: #F4F1F1;
      }

      footer {
        grid-area: footer;
        display: flex;
        gap: 23%;
        background-color: #252525;
      }

      footer figure {
        margin: auto;
      }
      
      footer h5 {
        color: white;
        font-size: 1.4em;
      }

      footer nav ul li {
        margin-left: 3px;
        color: white;
      }

      #clients {
        background-color: #e6bd43;
        padding: 18px;
      }
      #clients h2 {
        text-align: center;
        font-size: 2em;
      }
      #clients figure {
        display: flex;
        gap: 2%;
        margin-top: 45px;
        justify-content: center; /*Hentet fra W3Schools*/
      }

      #about-company {
        background-color: palegreen;
        padding: 45px;
      }

      #about-company article {
        background-color: #d9d9d9;
        width: 45%;
        margin-left: 55%;
        padding: 7px;
        height: 300px;
      }

      #about-company h1 {
        font-weight: normal;
        font-size: 1em;
        margin-left: 35px;
        margin-bottom: 10px;
      }

      #about-company h2 {
        font-size: 1.7em;
        margin-left: 35px;
      }

      #about-company p {
       margin-left: 35px;
      }

      #about-company a {
        background-color: #e6bd43;
        padding: 10px;
        font-weight: bold;
        margin-left: 35px;
      }

      #contact-form {
        background-color: #f7f7f7;
        padding: 25px;
      }

      #portfolio-overskrift {
        background-color: #d9d9d9;
      }

      .portfolio-overskrifter-h2 {
        border-bottom: 3px solid #e6bd43;
        padding: 11px;
        padding-left: 0;
        margin-left: 5%;
        width: 87%;
      }

      #jobs-list {
        margin-top: 35px;
      }
 
      #jobs-list ul {
        display: flex;
        gap: 1%;
        padding: 0;
        margin-left: 5%;
        list-style-type: none;
      }

      #jobs-list ul li a {
        border: 1px solid #000;
        padding: 8px;
        font-size: 1.1em;
      }

}